.subheader1 {
    top: 91px;
    left: 323px;
    height: 40px;
    background: #FDFDFD 0% 0% no-repeat padding-box;

    border-radius: 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    text-align: left;
    font: normal normal bold 24px/32px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    padding: 50px;
    margin-top: 13px;
    margin-left: 12px;
    margin-right: 12px;
}

.actionBox {
    height: 80px;
    width: 300px;
    background: #EAF9FF 0% 0% no-repeat padding-box;
margin-top: 15px;;
border-radius: 50px;

}

.subheader {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #9D9D9D29;
    padding-right:20px;
    background-color: white;

}